@{
    ViewData["Title"] = "Index";
    var str = Context.Session.GetString("idUser");
    @if (str == null)
    {
        Context.Response.Redirect(Url.Content("~/Home/Login"));
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
